.d-flex {
  display: flex;
}
.d-flex-center {
  justify-content: center;
  align-items: center;
}
.gap {
  gap: 2%;
}

.header-text {
  font-size: 3vmin;
  text-align: center;
}
.welcome {
  background-color: #0077b6;
  width: 100%;
  height: 100vh;
}
.welcome-header-container {
  justify-content: center;
  align-items: center;
  width: 80%;
}
.welcome-header-img img {
  width: auto;
  height: 80vh;
  border-radius: 25px;
  object-fit: fill;
}
.welcome-header-text {
  flex-grow: auto;
  font-size: 5vmin;
  text-align: left;
  padding: 5%;
  width: 40%;
}
.credit {
  margin: auto 0 0 auto;
  font-size: 1.2vmin;
}

.about,
.skills,
.technologies,
.projects,
.experience {
  padding: 1.5rem;
}
.about-body-text,
.technologies-body,
.projects-body {
  margin: 5%;
}

.about {
  background-color: #17c3b2;
}
.about-body-text {
  font-size: 2.5vmin;
}

/* Experience Start*/
.experience {
  background-color: #e0aaff;
  font-size: 2.5vmin;
}
.experience-body {
  margin: 3%;
}
.timeline {
  border-left: 1px solid;
  border-color: #9d4edd;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  margin-left: 0.5rem;
}
.experience-container {
  position: relative;
  margin-bottom: 2%;
}
.timeline-circle {
  position: absolute;
  top: 5px;
  color: #9d4edd;
  left: -36.5px;
}
/* Experience End*/

.skills {
  background-color: #fe6d73;
}
.skills-body {
  margin: 3%;
  width: 90vw;
  border-radius: 25px;
}
.skills-element {
  display: inline-block;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vmin;
  text-align: center;
}
.skills-content {
  display: inline-block;
  margin-top: 8%;
  padding: 3%;
  vertical-align: middle;
  background-color: black;
  font-size: 2.8vmin;
  color: white;
  text-align: center;
  border-radius: 25px;
}
/* Slideshow */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
}
.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
/* Buttons */
.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 1% 0.4% 0;
  background-color: #fff0f3;
}
.slideshowDot.active {
  background-color: #800f2f;
}

.technologies {
  background-color: #fdc500;
  /* background-image: url("../static/technologies.jpg");
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.technology-title {
  margin: 1%;
}
.progress-bar {
  background-color: #8cb369;
}
.technologies-note {
  text-align: right;
}

.projects {
  background-color: #8cb369;
}
.card {
  width: 25rem;
  height: 18rem;
  background-color: #2b9348;
  text-align: center;
}
.card img {
  /* opacity: 0.9; */
  width: 100%;
  height: 15rem;
  object-fit: fill;
}
.card-title {
  font-size: 2.5vmin;
}
.card:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  opacity: 1;
}
/* .card img:hover {
  opacity: 1;
} */
.modal-content {
  background-color: #2b9348;
}
